
.align-infos-login {
    margin-top: 50px;
    margin-bottom: 150px;
    margin-left: 70px;
    margin-right: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hnipo {
    width: 100%;
}

.container-input{
    display: flex;
    flex-direction: column;
    width: 100%;

}

.label-input{
    font-family: sans-serif;
    font-size: 0.95rem;
    font-weight: 600;
}

.inputs {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #D9D9D9;
    box-shadow: 4px 7px 10px 0px rgba(0, 0, 0, 0.50);
    border: 0px;
    width: 98%;
    height: 1.75rem;
    border-radius: 0.625rem;
    max-width: 98%;
    max-height: 2.75rem;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 500;
    padding-left: 1%;
    padding-right: 1%;
}

.inputs:focus-visible{
    outline: none;
}

.btn-login:focus-visible{
    outline: none;
}

#login-screen-login{
    width: 60%;
    height: 2.75rem;
}

.copyright-span{
    color: #393939ad;
    margin: 20px;
    
}


@media screen and (max-width: 760px) {
    .login-background{
        padding: 0;
    }
    
    .btn-login {
        width: 70%;
    }

    .hnipo{
        display: none;
    }

    .app-background {
        width: 86%;
    }

    .container-card-login {
        min-width: 90%;
        background-color: transparent;
        align-items: center;
        margin-top: 48px;
        padding: 26px 0;
        height: min-content;
        top: auto;
        left: auto;
        transform: none;
        box-shadow: 1px 3px 17px 5px #000;
    }

    .logotipo{
        width: 13%;
    }

    .inputs {
        width: max-content;
    }

    .container-logo-login {
        margin-top: 12px;
    }

    .title-technipo{
        font-size: 50px;
        margin-top: 36px;
    }

    .txt-logotipo-title {
        font-size: 18px;
    }

    .txt-logotipo-subtitle{
        font-size: 10px;
    }
}

@media screen and (max-width: 840px) {
    
}