
#center-searcher {
    display: flex;
    flex-direction: column;
    align-items: center
}

.container-items {
    width: 100%;
    height: 93%;
    background-color: transparent;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-content-items {
    width: 90%;
    height: 87%;
    background-color: transparent;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.item-bar {
    background-color: white;
    box-shadow: 4px 7px 10px 0px rgba(0, 0, 0, 0.50);
    border-radius: 20px;
    display: flex;
    height: 9%;
    margin-top: 20px;
    width: 100%;
    transition: 0.3s;
    border: 0;
}

.item-bar:hover{
    /* transform: scale(1.03);
    transition: 0.3s; */
    background-color: #dbdbdb;
}

.item-bar:focus{
    outline: none;
}

#item-number-one {
    margin-top: 0px;
}


.search-bar {
    margin-top: -15px;
    width: 200px;
    background-color: emerald;
    height: 30px;
    border-radius: 10px;
    border: 0;
    box-shadow: 4px 7px 10px 0px rgba(0, 0, 0, 0.50);
}

.span-items {
    font-size: large;
    font-weight: 500;
}

.container-modal{
    position: absolute; 
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px;
    width: 62vw;
    height: 42vh;
}

.container-overlay-modal{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(63, 63, 63, 0.238);
    z-index: 1000;
    overflow-Y: auto;
}

.container-item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-right: 10px;
}

#item-id{
    width: 40px;
}

#item-estoque{
    width: 90px;
}

#item-zona{
    width: 50px;
}

#item-armario{
    width: 100px;
}

#item-prateleira{
    width: 100px;
}

#item-bau{
    width: 100px;
}

#span-item-item{
    width: 300px;
    justify-content: flex-start;
}

#item-item{
    width: 640px;
    justify-content: flex-start;
}

#item-quantidade-item {
    width: 40px;
    margin-left: 2%;
}

.circle-add-item{
    display: flex;

}