.container-searcher {
    width: 80%;
    height: 80%;
    border-radius: 20px;
    background-color: #00000075;
    margin: 50px;
}

#center-searcher {
    display: flex;
    flex-direction: column;
    align-items: center
}

.search-navbar {
    width: 100%;
    height: 7%;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 4px 7px 10px 0px rgba(0, 0, 0, 0.50);
}

.container-items {
    width: 100%;
    height: 93%;
    background-color: transparent;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-content-items {
    width: 90%;
    height: 87%;
    background-color: transparent;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.item-bar {
    background-color: white;
    box-shadow: 4px 7px 10px 0px rgba(0, 0, 0, 0.50);
    border-radius: 20px;
    display: flex;
    height: 9%;
    margin-top: 20px;
    width: 100%;
    transition: 0.3s;
}

.item-bar:hover{
    transform: scale(1.03);
    transition: 0.3s;
}

#item-number-one {
    margin-top: 0px;
}

#search-bar-estoque {
    display: flex;
    flex-direction: row;
}

.container-local-items {
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    width: 68%;
}

.search-bar {
    margin-top: -15px;
    width: 15%;
    background-color: orange;
    height: 30px;
    border-radius: 10px;
    border: 0;
    box-shadow: 4px 7px 10px 0px rgba(0, 0, 0, 0.50);
}

.container-item-quantity {
    width: 7%;
    margin-right: 5%;
    margin-left: 2%;
}

.span-items {
    margin-top: 10px;
    margin-right: 15px;
    font-size: large;
    font-weight: 500;
    margin-left: 10px;
}

.container-modal{
    position: absolute; 
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px;
    width: 62vw;
    height: 42vh;
}

.container-overlay-modal{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(63, 63, 63, 0.238);
    z-index: 1000;
    overflow-Y: auto;
}