.navbar-user {
    width: 100%;
    height: 8%;
    background-color: #fff;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-btn-comeback {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #EDF06C;
    margin-left: 20px;
}

.container-user-config:hover {
    cursor: pointer;
}

.container-content-estoques {
    width: 100%;
    height: 92%;
    background-color: transparent;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-cards-estoque {
    width: 80%;
    height: 80%;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
}

.container-link-card-estoque {
    width: 40%;
    height: 40%;
}

.card-estoque {
    width: 100%;
    height: 100%;
    background-color: #00000075;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backarrow {
    margin-left: 5px;
    margin-top: 2px;
}