.item-bar2 {
    background-color: white;
    box-shadow: 4px 7px 10px 0px rgba(0, 0, 0, 0.50);
    border-radius: 20px;
    display: flex;
    height: 9%;
    margin-top: 20px;
    width: 100%;
    transition: 0.3s;
    border: 0;
    font-size: medium;
    padding-left: 5px;
}

.item-bar2:focus{
    outline: none;
}