#app-background-user{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-user-settings{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 80%;
    background-color: red;
    border-radius: 30px;
}

