.form-send-user{
    width: 800px;
    height: 500px;
    background-color: #D4D4D4;
    box-shadow: 4px 7px 10px 0px rgba(0, 0, 0, 0.50);
    border-radius: 30px;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-content-send-user{
    margin-top: 5%;
    width: 80%;
    height: 70%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
}

.deskmanager-users-preview{
    margin-top: 5px;
    background-color: transparent;
    width: 95%;
    height: 70%;
}

.span-itens2{
    font-size: small;
    margin-left: 20px;
    margin-right: 20px;
}
.span-itens3{
    font-size: small;
    font-weight: 600;
    margin-left: 20px;
    margin-right: 20px;
}

#item-bar-desk{
    justify-content: space-between;
    
}

.container-footer-form{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.sweet-pagination{
    width: 80%;
}